<h3>Product Types</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_product_type_path ,class:"btn btn-success"%>
<hr></hr>
<table id="product_type_list">
  <thead>
    <tr>


      <th>Name</th>

      <th>Description</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_types.each do |product_type| %>
      <tr>

        <td><%= product_type.name %></td>

        <td><%= product_type.description %></td>

        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, product_type ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_product_type_path(product_type),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, product_type, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
