<h3>Product Types Details</h3>
<hr></hr>


<div class="form-group">
  <strong>Name:</strong>
  <%= @product_type.name %>
</div>


<div class="form-group">
  <strong>Description:</strong>
  <%= @product_type.description %>
</div>


<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, product_types_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_product_type_path(@product_type) ,class:"btn btn-info"%>

</div>
