<div class="row">
	<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
		<h3>Paquetes</h3>
	</div>
</div>
<div class="row">
		<%if @packages%>
		<% @packages.each do |package| %>
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
		<div href="#"><%= image_tag(package.image_url, :alt => "rss feed",:class=>"img-responsive") %>
		<div class="desc">
			<span></span>
			<h3><%= package.name %></h3>
			<span><b><%= package.description %></b></span>
			<span class="price">$<%= @package_obj. get_package_price(package.id) %> por persona</span>
			<a class="btn btn-primary btn-outline" href="#">Reserve ahora<i class="icon-arrow-right22"></i></a>
		</div>
		</div>
		</div>
		<% end %>
		<% else %>
		No se encontraron Toures con esos valores
		<% end %>
		</div>

	</div>
</div>
