<div class="row">
	<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
		<h3>Traslados</h3>
	</div>
</div>
<div class="row">
		<%if @shuttles%>
		<% @shuttles.each do |shuttle| %>
		<div class="col-md-4 col-sm-6 fh5co-shuttles animate-box" data-animate-effect="fadeIn">
		<div href="#"><%= image_tag(shuttle.image_url, :alt => "rss feed",:class=>"img-responsive") %>
		<div class="desc">
			<span></span>
			<h3><%= shuttle.name %></h3>
			<span><b><%= shuttle.description %></b></span>
			<span class="price">$<%= shuttle.price %> por persona</span>
			<a class="btn btn-primary btn-outline" href="#">Reserve ahora<i class="icon-arrow-right22"></i></a>
		</div>
		</div>
		</div>
		<% end %>
		<% else %>
		No se encontraron shuttlees con esos valores
		<% end %>
		</div>

	</div>
</div>