<div class="row">
	<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
		<h3>Vuelos</h3>
	</div>
</div>
<div class="row">
		<%if @flights%>
		<% @flights.each do |flight| %>
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
		<div href="#"><%= image_tag(flight.image_url, :alt => "rss feed",:class=>"img-responsive") %>
		<div class="desc">
			<span></span>
			<h3><%= flight.name %></h3>
			<span><b><%= flight.description %></b></span>
			<span class="price">$<%= flight.price %></span>
			<a class="btn btn-primary btn-outline" href="#">Reserve ahora<i class="icon-arrow-right22"></i></a>
		</div>
		</div>
		</div>
		<% end %>
		<% else %>
		No se encontraron Toures con esos valores
		<% end %>
		</div>

	</div>
</div>