
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Contactenos</h3>
						<p>Estaremos felices de atender todas sus inquietudes</p>
					</div>
				</div>
				<form action="#">
					<div class="row animate-box">
						<div class="col-md-6">
							<h3 class="section-title">Nuestra direccion</h3>
							<p>Transismica Panama</p>
							<ul class="contact-info">
								<li><i class="icon-location-pin"></i>Edificio Etc</li>
								<li><i class="icon-phone2"></i>+507 3902669</li>
								<li><i class="icon-mail"></i><a href="#">info@agenciaetc.com</a></li>
								<li><i class="icon-globe2"></i><a href="#">www.agenciaetc.com</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Nombre">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Mensaje"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Enviar Mensaje" class="btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		