<div class="row" style="padding-top:80px;">
		<div class="col-sm-5 col-md-5">
			<div class="tabulation animate-box">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
					<a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Tours</a>
					</li>
					<li role="presentation">
						<a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab">Hoteles</a>
					</li>
					<li role="presentation">
						<a href="#packages" aria-controls="packages" role="tab" data-toggle="tab">Paquetes</a>
					</li>
					
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="flights">
					<div class="row">
					<%= form_tag('/tours',remote:true,method: "post") do %>
					<div class="col-xxs-12 col-xs-12 mt">
							<div class="input-field">
								<%= label_tag("Pais:") %><br>
								<%= collection_select :arrival_country,:country,@countries, :id, :nicename ,:include_blank => 'Seleccione un Pais'%>
							</div>
						</div>
					<div class="col-xxs-12 col-xs-12 mt">
							<div class="input-field">
								<%= label_tag("Ciudad:") %><br>
								<%= collection_select :arrival_city,:city,@cities, :id, :country_name ,:include_blank => 'Seleccione una Ciudad'%>
							</div>
						</div>
					<div class="col-xs-12">
						<%= submit_tag "Buscar Tour",class:"btn btn-primary btn-block" %>
						</div>	
				
					<% end %>

						
					
					</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="hotels">
					<div class="row">
						<%= form_tag('/search_hotel',remote:true,method: "post") do %>
						<div class="col-xxs-12 col-xs-12 mt">
							<div class="input-field">
								<label for="from">Ciudad:</label>
								<%= collection_select :hotel_city,:city,@cities, :id, :name ,:include_blank => 'Seleccione una Ciudad'%>		
							</div>
						</div>
						<div class="col-xxs-12 col-xs-12 mt">
							<div class="input-field">
								<%= label_tag("Fecha de Llegada:") %><br>
								<%= select_date Date.current, prefix: :arrival_date%>
							</div>
						</div>
						<div class="col-xxs-12 col-xs-12 mt">
							<div class="input-field">
								<%= label_tag("Fecha de Salida:") %><br>
								<%= select_date Date.current, prefix: :departure_date%>
							</div>
						</div>
						
						<div class="col-xs-12">
							<input type="submit" class="btn btn-primary btn-block" value="Buscar Hotel">
						</div>
						<% end %>
					</div>
					</div>

					<div role="tabpanel" class="tab-pane" id="packages">
					<div class="row">
						<%= form_tag('/search_package',remote:true,method: "post") do %>
					<div class="col-xxs-12 col-xs-12 mt">
							<div class="input-field">
								<%= label_tag("Pais:") %><br>
								<%= collection_select :arrival_country,:country,@countries, :id, :nicename ,:include_blank => 'Seleccione un Pais'%>
							</div>
						</div>
					<div class="col-xxs-12 col-xs-12 mt">
							<div class="input-field">
								<%= label_tag("Ciudad:") %><br>
								<%= collection_select :arrival_city,:city,@cities, :id, :name ,:include_blank => 'Seleccione una Ciudad'%>
							</div>
						</div>
					<div class="col-xs-12">
						<%= submit_tag "Buscar Paquete",class:"btn btn-primary btn-block" %>
						</div>	
				
					<% end %>
					</div>
					
					</div>
				</div>

			</div>
		</div>
		
		<div class="desc2 animate-box">
			<div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
			
				<h2>Encuentre los servicios turisticos que se acomoden a sus necesidades</h2>
				
				<!-- <p><a class="btn btn-primary btn-lg" href="#">Get Started</a></p> -->
			</div>
		</div>
	</div>
</div>