<div>
<h3>Reservaciones</h3>
</div></br>
<% if notice %>
          <div class="alert alert-success alert-dismissable">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <b><%= notice %></b>
          </div>
        <% end %> 
<h3>Productos</h3>
 <table class="table">
  <thead>
    <tr>

      <th>Producto</th>
      <th>Tipo</th>
      <th>Descripcion</th>
      <th>Precio/Persona</th>
      
     
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td><%= @products.name %></td>
        <td><%= @products.product_type.name %></td>
        <td><%= @products.description %></td>
        <td><%= number_to_currency(@products.price.to_d, :unit => "$") %></td>
       </tr>
    
  </tbody>
</table>     
<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.full_messages.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this @reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>

  
 
  <div class="field">

    <%= f.label 'Descripción' %>
    <%= f.text_field :description,class:"form-control" %>
   
  </div>
 <div class="field">
  <%= f.label 'Numero de adultos' %>
 <%= f.number_field :number_adults,class:"form-control" %>
</div>

<div class="field">
  <%= f.label 'Numero de niños' %>
 <%= f.number_field :number_kids,class:"form-control" %>
</div>
  
   <div class="field">

    <%= f.label 'Fecha de partida' %></br>
    <%= f.date_select :departure_date,class:"form-control" %>

  </div>

  <div class="field">

    <%= f.label 'Fecha de regreso' %></br>
    <%= f.date_select :arrival_date,class:"form-control" %>

  </div>


 
</br>

  <div class="actions">
    <%= link_to 'Cancelar','/index',class:"btn btn-primary"%> 
   
    <%= f.submit "Reservar" ,class:"btn btn-primary " %>
  </div>
   <%= f.hidden_field :is_front_end,class:"form-control" %>
   <%= f.hidden_field  :client_id,class:"form-control" %>
   <%= f.hidden_field  :status,class:"form-control" %>
   <%= f.hidden_field  :product_id,class:"form-control" %>
<% end %>
