<div class="row">
	<h3><a href="/index">Buscar hoteles</a></h3> 
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
		<h3>Busqueda Hoteles</h3>
	</div>
</div>
<div class="row">
		<%if @search_hotels%>
		<% @search_hotels.each do |hotel| %>
		<div class="col-md-4 col-sm-6 fh5co-hotels animate-box" data-animate-effect="fadeIn">
		<div href="#"><%= image_tag(hotel.image_url, :alt => "rss feed",:class=>"img-responsive") %>
		<div class="desc">
			<span></span>
			<h3><%= hotel.name %></h3>
			<span><b><%= hotel.description %></b></span>
			<span class="price">$<%= hotel.price %> por persona</span>
			<a class="btn btn-primary btn-outline" href="<%='/reserve_product/'+hotel.id.to_s %>">Reserve ahora<i class="icon-arrow-right22"></i></a>
		</div>
		</div>
		</div>
		<% end %>
		<% else %>
		No se encontraron hoteles con esos valores
		<% end %>
		</div>

	</div>
</div>