<%= form_for(assignment) do |f| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
 <%= f.label :user %>
 <%= f.collection_select(:admin_id, @admins, :id, :name,{:selected => @selected_admin},class:"form-control") %>
</div>

<div class="form-group">
 <%= f.label :rol %>
 <%= f.collection_select(:role_id, @roles, :id, :role, {:selected => @selected_role},class:"form-control") %>
</div>
 
<div class="actions">
  <%= link_to 'Cancel', assignments_path ,class:"btn btn-danger"%> <%= f.submit "Save" ,class:"btn btn-primary" %> 
  </div>
<% end %>