<h3>Role Assignments</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New Assignment'.html_safe,new_assignment_path ,class:"btn btn-success"%>
<hr></hr>
<table id ="assignment_list">
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.admin.name %></td>
        <td><%= assignment.role.role %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_assignment_path(assignment) ,class:"btn btn-info"%></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, assignment, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
