
<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe,  assignments_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_assignment_path(@assignment) ,class:"btn btn-info"%>
</div>

