


<body class="login-page">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="login-box" style="width:600px;">
  <div class="login-box-body">
  <h2>Registrarse</h2>
  <%= devise_error_messages! %>
  <% if flash[:notice] %>
     <span class="has-error"><%= notice %></span>
  <% end %>
  <div class="form-group">
    <%= f.label 'Nombre' %><br />
    <%= f.text_field :name ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :nickname%><br />
    <%= f.text_field :nickname,class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label 'Contraseña' %>
    <% if @minimum_password_length %>
    <em>(minimo <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label 'Confirme su contraseña' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" ,class:"form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "Registrarse" ,class:"btn btn-primary" %>
  </div>
<% end %>
</div>
</div>
</body>