<%= form_for(admin) do |f| %>
   <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      
      </ul>
    </div>
  <% end %>

  <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>
  <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name ,class:"form-control" %>
   </div>  
  
  <div class="form-group">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname ,class:"form-control" %>
   </div>  
   <div class="form-group">
      <%= f.label :email %><br />
      <%= f.text_field :email ,class:"form-control" %>
   </div>   

   <div class="form-group">  
      <%= f.label :password %><% if params[:action]=="edit" %> <i>(leave blank if you don't want to change it)</i><%end %><br />
      <%= f.password_field :password ,class:"form-control" %>
   </div>

   <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation ,class:"form-control" %>
   </div>


   <div class="actions">
        <%= link_to 'Cancel', admins_path ,class:"btn btn-danger"%> <%= f.submit "Save" ,class:"btn btn-primary" %> 
   </div>

<% end %>