<h3>Admin Users</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New User'.html_safe,new_admin_path ,class:"btn btn-success"%>
<hr></hr>
<table id="admin_user_list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Nickname</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
      <td><%= admin.name %></td>
        <td><%= admin.nickname %></td>
        <td><%= admin.email %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_admin_path(admin) ,class:"btn btn-info"%></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, admin, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%></td>
      </tr>
    <% end %>

    
  </tbody>
</table>

<br>
