<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, admins_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe,  edit_admin_path(@admin),class:"btn btn-info"%>
</div>