<%= form_for(system_action) do |f| %>
  <% if system_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(system_action.errors.count, "error") %> prohibited this system_action from being saved:</h2>

      <ul>
      <% system_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>
  <div class="field">
    <%= f.label :action %>
    <%= f.text_field :action,class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description,class:"form-control" %>
  </div>

  <div class="actions">
    <%= link_to 'Cancel',system_actions_path,class:"btn btn-danger"%> 
   
    <%= f.submit "Save" ,class:"btn btn-primary" %>
  </div>
<% end %>
