<h3>System Actions</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_system_action_path ,class:"btn btn-success"%>
<hr></hr>
<table id="system_action_list">
  <thead>
    <tr>
      <th>Action</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @system_actions.each do |system_action| %>
      <tr>
        <td><%= system_action.action %></td>
        <td><%= system_action.description %></td>
        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, system_action ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_system_action_path(system_action),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, system_action, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
