<h3>System Actions Details</h3>
<hr></hr>

<div class="form-group">
  <strong>Action:</strong>
  <%= @system_action.action %>
</div>

<div class="form-group">
  <strong>Description:</strong>
  <%= @system_action.description %>
</div>

<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, system_actions_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_system_action_path(@system_action) ,class:"btn btn-info"%>

</div>
