<%= form_for(reservation_product) do |f| %>
  <% if reservation_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation_product.errors.count, "error") %> prohibited this reservation_product from being saved:</h2>

      <ul>
      <% reservation_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>
  <div class="field">

    <%= f.label :reservation_id %>
       <%= f.collection_select(:reservation_id, @reservations, :id, :name,{:selected => @selected_reservation},class:"form-control") %>
  </div>

  <div class="field">

    <%= f.label :product_id %>
    <%= f.collection_select(:product_id, @products, :id, :name,{:selected => @selected_product},class:"form-control") %>

  </div>


  <div class="actions">
    <%= link_to 'Cancel',reservation_products_path,class:"btn btn-danger"%> 
   
    <%= f.submit "Save" ,class:"btn btn-primary" %>
  </div>
<% end %>
