<h3>Reservation Products</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_reservation_product_path ,class:"btn btn-success"%>
<hr></hr>
<table id="reservation_product_list">
  <thead>
    <tr>

      <th>Product</th>

      <th>Reservation</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservation_products.each do |reservation_product| %>
      <tr>

        <td><%= reservation_product.product.name %></td>

        <td><%= reservation_product.reservation.name %></td>

        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, reservation_product ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_reservation_product_path(reservation_product),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, reservation_product, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
