<h3>Reservation Products Details</h3>
<hr></hr>


<div class="form-group">
  <strong>Product:</strong>
  <%= @reservation_product.product.name %>
</div>


<div class="form-group">
  <strong>Reservation:</strong>
  <%= @reservation_product.reservation.name %>
</div>


<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, reservation_products_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_reservation_product_path(@reservation_product) ,class:"btn btn-info"%>

</div>
