<h3>Package Products</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_package_product_path ,class:"btn btn-success"%>
<hr></hr>
<table id="package_product_list">
  <thead>
    <tr>

      <th>Package</th>

      <th>Product</th>

      <th>Price</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @package_products.each do |package_product| %>
      <tr>

        <td><%= package_product.package.name %></td>

        <td><%= package_product.product.name %></td>
        <td><%= package_product.product.price %></td>

        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, package_product ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_package_product_path(package_product),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, package_product, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
