<h3>Package Products Details</h3>
<hr></hr>


<div class="form-group">
  <strong>Package:</strong>
  <%= @package_product.package_id %>
</div>


<div class="form-group">
  <strong>Product:</strong>
  <%= @package_product.product_id %>
</div>


<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, package_products_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_package_product_path(@package_product) ,class:"btn btn-info"%>

</div>
