
<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name  %>
    <%= f.text_field :name ,class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password ,class:"form-control"%>
  </div>
  
  <div class="actions">
    <%= link_to 'Cancel', users_path ,class:"btn btn-danger"%> <%= f.submit class:"btn btn-primary" %> 
  </div>
<% end %>


