<h3> Add Roles to User </h3>
<%= form_for UserRole.new, url:{controller:"user_roles",action:"create_role_for_user",user_id:user_id} do |f|%>

<div class="form-group">
<%= f.hidden_field :user_id ,:value =>user_id%>
 <%= f.label :Role %>
 <%= f.collection_select(:role_id, roles, :id, :role,{prompt: "Select a Rol"},{class: "form-control"}) %>
</div>
 
  <div class="form-group">
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>