
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, users_path ,class:"btn btn-primary"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Show'.html_safe, @user ,class:"btn btn-primary"%>

<h3>Editing User</h3>
<%= render 'form', user: @user %>
