<h3>Users</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New User'.html_safe,new_user_path ,class:"btn btn-success"%>
<hr></hr>
<table id="user_list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to(user.name, user) %></td>
        <td><%= user.email %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_user_path(user) ,class:"btn btn-info"%></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%></td>
      </tr>
    <% end %>

    
  </tbody>
</table>

<br>


