<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, users_path ,class:"btn btn-primary"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_user_path(@user) ,class:"btn btn-primary"%>
<hr></hr>
<h3> User Details </h3>
<hr></hr>

<div class="form-group">
<strong>Name:</strong>
  <%= @user.name %>
</div>

<div class="form-group">
<strong>Email:</strong>
  <%= @user.email %>
</div>
<hr></hr>

<h3> User Roles </h3>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Roles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
 <% @user_roles.each do |user_role| %>
    <tr>
      <td><%= user_role.role.role %></td>
    </tr>
  <% end %>
  </tbody>
 </table> 

 <%= render 'form_user_role',roles: Role.all ,user_id:@user.id%>


