<%= form_for(package) do |f| %>
  <% if package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(package.errors.count, "error") %> prohibited this package from being saved:</h2>

      <ul>
      <% package.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>

  <div class="field">

    <%= f.label :name %>
    <%= f.text_field :name,class:"form-control" %>

  </div>


  <div class="field">

    <%= f.label :description %>
    <%= f.text_field :description,class:"form-control" %>

  </div>


  <div class="field">

    <%= f.label :package_type_id %>
    <%= f.collection_select(:package_type_id, @package_type, :id, :name,{:selected => @selected_package_type,:include_blank => 'Select a Type'},class:"form-control") %>

  </div>


  <div class="field">

    <%= f.label :image %>
   <br/>
    <img id="img_prev" width=300 height=300 src="#" alt="your image" class="img-thumbnail hidden"/>
    <%if params[:id]%> 
    <%= image_tag(@package.image_url.to_s,size: "300x300",class:"img-thumbnail") %>
    <% end%>
    <br/>
    <%= f.file_field :image ,:class=>"form-control"%>

  </div>


  <div class="actions">
    <%= link_to 'Cancel',packages_path,class:"btn btn-danger"%> 
   
    <%= f.submit "Save" ,class:"btn btn-primary" %>
  </div>
<% end %>
