<h3>Packages</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_package_path ,class:"btn btn-success"%>
<hr></hr>
<table id="package_list">
  <thead>
    <tr>

      <th>Name</th>

      <th>Description</th>


      <th>Price</th>

      <th></th>
      <th></th>
      <th></th>
     
    </tr>
  </thead>

  <tbody>
    <% @packages.each do |package| %>
      <tr>

        <td><%= package.name %></td>

        <td><%= package.description %></td>


        <td><%= number_to_currency(package.price.to_s.to_d, :unit => "$") %></td>


        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, package ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_package_path(package),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, package, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
