<h3>Package Products</h3>

<hr></hr>
<table id="package_product_list">
  <thead>
    <tr>

      <th>Package</th>

      <th>Product</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @package_products.each do |package_product| %>
      <tr>

        <td><%= package_product.package_id %></td>

        <td><%= package_product.product_id %></td>

        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, package_product ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_package_product_path(package_product),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, package_product, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>