<h3>Packages Details</h3>
<hr></hr>


<div class="form-group">
  <strong>Name:</strong>
  <%= @package.name %>
</div>


<div class="form-group">
  <strong>Description:</strong>
  <%= @package.description %>
</div>


<div class="form-group">
  <strong>Package type:</strong>
  <%= @package.package_type_id %>
</div>


<div class="form-group">
  <strong>Price:</strong>
  <%= @product_price %>
</div>


<div class="form-group">
  <strong>Image:</strong><br>
  <%if @package.image_url%>
 <%= image_tag(@package.image_url.to_s,size: "418x259") %>
 <%end%>
</div>

<h3>Products</h3>
<table id="package_product_list">
  <thead>
    <tr>

      <th>Product</th>
    </tr>
  </thead>

  <tbody>
    <% @package_products.each do |package_product| %>
      <tr>

        <td><%= package_product.product.name %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, packages_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_package_path(@package) ,class:"btn btn-info"%>

</div>
