<%= form_for(system_component) do |f| %>
  <% if system_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(system_component.errors.count, "error") %> prohibited this system_component from being saved:</h2>

      <ul>
      <% system_component.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name,class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description,class:"form-control" %>
  </div>

  <div class="actions">
    <%= link_to 'Cancel',system_components_path,class:"btn btn-danger"%> 
   
    <%= f.submit "Save" ,class:"btn btn-primary" %>
  </div>
<% end %>
