<h3>System Components</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_system_component_path ,class:"btn btn-success"%>
<hr></hr>
<table id="system_component_list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @system_components.each do |system_component| %>
      <tr>
        <td><%= system_component.name %></td>
        <td><%= system_component.description %></td>
        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, system_component ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_system_component_path(system_component),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, system_component, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
