<h3>System Components Details</h3>
<hr></hr>

<div class="form-group">
  <strong>Name:</strong>
  <%= @system_component.name %>
</div>

<div class="form-group">
  <strong>Description:</strong>
  <%= @system_component.description %>
</div>

<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, system_components_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_system_component_path(@system_component) ,class:"btn btn-info"%>

</div>
