

<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>

  <div class="field">

    <%= f.label 'Client Name' %>
    <%= f.collection_select(:client_id, @clients,  :id ,:name,{:selected => @selected_client},class:"form-control") %>

  </div>


  <div class="field">

    <%= f.label :name %>
    <%= f.text_field :name,class:"form-control" %>

  </div>


  <div class="field">

    <%= f.label :description %>
    <%= f.text_field :description,class:"form-control" %>

  </div>
 <div class="field">
  <%= f.label :number_adults %>
 <%= f.number_field :number_adults,class:"form-control" %>
</div>

<div class="field">
  <%= f.label :number_kids %>
 <%= f.number_field :number_kids,class:"form-control" %>
</div>
  <div class="field">

    <%= f.label :reservation_date %></br>
    <%= f.datetime_select :reservation_date,class:"form-control" %>

  </div>
   <div class="field">

    <%= f.label :departure_date %></br>
    <%= f.date_select :departure_date,class:"form-control" %>

  </div>

  <div class="field">

    <%= f.label :arrival_date %></br>
    <%= f.date_select :arrival_date,class:"form-control" %>

  </div>


  <div class="field">

    <%= f.label :status %>
    <%= f.collection_select(:status, ['Open','Paid','Canceled'],  :to_s, :to_s,{:selected => @selected_status},class:"form-control") %>
  

  </div>


  <div class="field">

    <%= f.label :amount %>
    <%= f.text_field :amount,class:"form-control",readonly: true%>

  </div>


  <div class="actions">
    <%= link_to 'Cancel',reservations_path,class:"btn btn-danger"%> 
   
    <%= f.submit "Save" ,class:"btn btn-primary" %>
  </div>
<% end %>



