<h3>Reservations</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_reservation_path ,class:"btn btn-success"%>
<hr></hr>
<table id="reservation_list">
  <thead>
    <tr>

      <th>Client</th>

      <th>Name</th>

      <th>Reservation date</th>

      <th>Arrival date</th>

      <th>Departure date</th>
      <th>Adults</th>
      <th>Kids</th>
      <th>Status</th>

      <th>Amount</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>

        <td><%= @obj.get_client_name_by_id(reservation.client_id)%></td>

        <td><%= reservation.name %></td>

        <td><%= reservation.reservation_date %></td>

        <td><%= reservation.arrival_date %></td>

        <td><%= reservation.departure_date %></td>
        <td><%= reservation.number_adults %></td>
        <td><%= reservation.number_kids %></td>
        <td><%= reservation.status %></td>

        <td><%=number_to_currency(reservation.amount, :unit => "$")  %></td>

        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, reservation ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_reservation_path(reservation),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, reservation, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>
