<h3>Reservations Details</h3>
<hr></hr>


<div class="form-group">
  <strong>Client:</strong>
  <%=  @obj.get_client_name_by_id(@reservation.client_id) %>
</div>



<div class="form-group">
  <strong>Name:</strong>
  <%= @reservation.name %>
</div>


<div class="form-group">
  <strong>Description:</strong>
  <%= @reservation.description %>
</div>


<div class="form-group">
  <strong>Reservation date:</strong>
  <%= @reservation.reservation_date %>
</div>


<div class="form-group">
  <strong>Arrival date:</strong>
  <%= @reservation.arrival_date %>
</div>


<div class="form-group">
  <strong>Departure date:</strong>
  <%= @reservation.departure_date %>
</div>


<div class="form-group">
  <strong>Status:</strong>
  <%= @reservation.status %>
</div>
<div class="form-group">
  <strong>Number Of Adults:</strong>
  <%= @reservation.number_adults %>
</div>


<div class="form-group">
  <strong>Number Of Kids:</strong>
  <%= @reservation.number_kids %>
</div>

<div class="form-group">
  <strong>Tax:</strong>
  <%= @tax.to_s+'%' %>
</div>
<div class="form-group">
  <strong>Discount/Kid:</strong>
  <%= @percentage_discount_kids.to_s+'%' %>
</div>

<h3>Products</h3>
<hr></hr>
<table id="reservation_product_list">
  <thead>
    <tr>

      <th>Product</th>
      <th>Type</th>
      <th>Price/Person</th>

    </tr>
  </thead>

  <tbody>

    <% @reservation_products.each do |reservation_product| %>
      <tr>

        <td><%= reservation_product.product.name%></td>

        <td><%= reservation_product.product.product_type.name %></td>

         <td><%= reservation_product.product.price%></td>
          
      </tr>
     
    <% end %>

    
  </tbody>
</table>
<div class="form-group">
  <strong>Products Amount:</strong>
  <%= number_to_currency(@total_products.to_f, :unit => "$")  %>
</div>
<br>
<h3>Packages</h3>
<hr></hr>
<table id="reservation_package_list">
  <thead>
    <tr>

      <th>Package</th>
      <th>Type</th>
      <th>Price/Person</th>

    </tr>
  </thead>

  <tbody>

    <% @reservation_packages.each do |reservation_package| %>
      <tr>

        <td><%= reservation_package.package.name%></td>

        <td><%= reservation_package.package.package_type_id %></td>

         <td><%= reservation_package.package.price%></td>
          
      </tr>
     
    <% end %>

    
  </tbody>
</table>
<div class="form-group">
  <strong>Packages Amount:</strong>
  <%=  number_to_currency(@total_packages.to_d, :unit => "$") %>
</div>


<div class="form-group">
  <strong>Total Amount:</strong>
  <%=  number_to_currency(@total.to_d, :unit => "$")%>

</div>

<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, reservations_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_reservation_path(@reservation) ,class:"btn btn-info"%>

</div>
