<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por tu reservacion  <%= @user.name %></h1>
    <p>
       <h3>haz realizado una reserva en nuestra pagina web</h3>

       <p>La informacion de la reserva es la siguiente:<p></br>
       
       <p>Fecha de reserva:<%= @reservation.reservation_date %></p>
       
       <p>Nombre de la reserva:<%= @reservation.name %></p>

       <p>Descripcion:<%= @reservation.description %></p>

        <p>Fecha de partida:<%= @reservation.departure_date %></p>

        <p>Fecha de llegada:<%= @reservation.arrival_date %></p>

        <p>Numero de Adultos:<%= @reservation.number_adults %></p>
        
        <p>Numero de Niños: <%= @reservation.number_kids %></p>
         
         <h3>Detalle de los productos reservados</h3>
        <h3>Productos</h3>
        <table class="table">
        <thead>
        <tr>
        <th>Producto</th>
        <th>Tipo</th>
        <th>Descripcion</th>
        <th>Precio/Persona</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td><%= @products.name %></td>
        <td><%= @products.product_type.name %></td>
        <td><%= @products.description %></td>
        <td><%= number_to_currency(@products.price.to_d, :unit => "$") %></td>
        </tr>
        </tbody>
        </table>     
        <p>Monto total :<%= @reservation.amount %></p>

        <p><b>Nota:</b> En el monto total esta incluido el impuesto que es de <%= @tax.to_s+'%'%> 
        y el porcentaje de descuento por cada niño  (menores de 10 años) que es de <%= @discount_kids.to_s+'%'%> </p>
 
    </p>
  </body>
</html>