<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido <%= @user.name %></h1>
    <p>
       <h3>La agencia de Viajes etc te da la bienvenida a su sistema de reservaciones</h3>

    <p>tu usuario es :<b><%= @user.email %></b><p></br>
       
    <p>puedes acceder a tu cuenta en la siguiente direccion: <b>https://andresmfranco.info:85/login</b></p>

     <p>una vez autenticado puede realizar reservas en nuestro portal:<b>https://andresmfranco.info:85/index</b></p>

     <p>Estamos para servirte y ayudarte a tener la mejor experiencia en tus viajes.</p>
 
    </p>
  </body>
</html>