<h3><%= plural_table_name.titleize %></h3>
<%%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_<%= singular_table_name %>_path ,class:"btn btn-success"%>
<hr></hr>
<table id="<%= singular_table_name %>_list">
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td><%%= link_to '<i class="fa fa-search"></i> Show'.html_safe, <%= singular_table_name %> ,class:"btn btn-default" %></td>
        <td><%%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_<%= singular_table_name %>_path(<%= singular_table_name %>),class:"btn btn-info" %></td>
        <td><%%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>
