<h3><%= plural_table_name.titleize %> Details</h3>
<hr></hr>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
<div class="form-group">
  <strong><%= attribute.human_name %>:</strong>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</div>

<% end -%>
<div class="actions">
<%%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, <%= index_helper %>_path ,class:"btn btn-info"%>
<%%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) ,class:"btn btn-info"%>

</div>
