<%= form_for(role) do |f| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>

   <div class="form-group">
    <%= f.label :role %>
    <%= f.text_field :role ,class:"form-control"%>
  </div>

   <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area(:description, rows: 5, data: {provide: "markdown"},class:"form-control")%>
  </div>

  <div class="actions">
   <%= link_to 'Cancel', roles_path ,class:"btn btn-danger"%> <%= f.submit "Save", class:"btn btn-primary" %> 
  </div>
<% end %>
