<h3>Roles</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New Role'.html_safe,new_role_path ,class:"btn btn-success"%>
<hr></hr>
<table id="role_list">
<thead>
  <tr>
    <th>Role</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @roles.each do |role| %>
    <tr>
      <td><%= role.role %></td>
      <td><%= role.description %></td>
      <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, role ,class:"btn btn-default" %></td>
      <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_role_path(role) ,class:"btn btn-info"%></td>
      <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, role, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%></td>
      
    </tr>
  <% end %>
</tbody>
</table>
