
<hr></hr>
<h3> Role Details </h3>
<hr></hr>
<div class="form-group">
  <strong>Role:</strong>
  <%= @role.role %>
</div>

<div class="form-group">
  <strong>Description:</strong>
  <%= @role.description %>
</div>
<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, roles_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_role_path(@role) ,class:"btn btn-info"%>

</div>
