<%= form_for(country) do |f| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>

  <div class="field">

    <%= f.label :iso %>
    <%= f.text_field :iso,class:"form-control" %>

  </div>


  <div class="field">

    <%= f.label :name %>
    <%= f.text_field :name,class:"form-control" %>

  </div>


  <div class="field">

    <%= f.label :nicename %>
    <%= f.text_field :nicename,class:"form-control" %>

  </div>


  <div class="field">

    <%= f.label :iso3 %>
    <%= f.text_field :iso3,class:"form-control" %>

  </div>


  <div class="field">

    <%= f.label :numcode %>
    <%= f.number_field :numcode,class:"form-control" %>

  </div>


  <div class="field">

    <%= f.label :phonecode %>
    <%= f.number_field :phonecode,class:"form-control" %>

  </div>


  <div class="actions">
    <%= link_to 'Cancel',countries_path,class:"btn btn-danger"%> 
   
    <%= f.submit "Save" ,class:"btn btn-primary" %>
  </div>
<% end %>