<h3>Countries</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_country_path ,class:"btn btn-success"%>
<hr></hr>
<table id="country_list">
  <thead>
    <tr>

      <th>Iso</th>

      <th>Name</th>

      <th>Nicename</th>

      <th>Iso3</th>

      <th>Numcode</th>

      <th>Phonecode</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>

        <td><%= country.iso %></td>

        <td><%= country.name %></td>

        <td><%= country.nicename %></td>

        <td><%= country.iso3 %></td>

        <td><%= country.numcode %></td>

        <td><%= country.phonecode %></td>

        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, country ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_country_path(country),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, country, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>