<h3>Countries Details</h3>
<hr></hr>

<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, countries_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_country_path(@country) ,class:"btn btn-info"%>

</div>
<h3>Countries Details</h3>
<hr></hr>


<div class="form-group">
  <strong>Iso:</strong>
  <%= @country.iso %>
</div>


<div class="form-group">
  <strong>Name:</strong>
  <%= @country.name %>
</div>


<div class="form-group">
  <strong>Nicename:</strong>
  <%= @country.nicename %>
</div>


<div class="form-group">
  <strong>Iso3:</strong>
  <%= @country.iso3 %>
</div>


<div class="form-group">
  <strong>Numcode:</strong>
  <%= @country.numcode %>
</div>


<div class="form-group">
  <strong>Phonecode:</strong>
  <%= @country.phonecode %>
</div>


<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, countries_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_country_path(@country) ,class:"btn btn-info"%>

</div>