<%= form_for(component_action) do |f| %>
  <% if component_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(component_action.errors.count, "error") %> prohibited this component_action from being saved:</h2>

      <ul>
      <% component_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>
  <div class="field">
    <%= f.label :system_component_id %>
     <%= f.collection_select(:system_component_id, @system_component, :id, :name,{:selected => @selected_system_component},class:"form-control") %>
  </div>

  <div class="field">
    <%= f.label :system_action_id %>
    <%= f.collection_select(:system_action_id, @system_action, :id, :action,{:selected => @selected_system_action},class:"form-control") %>
  </div>

  <div class="field">
    <%= f.label :role_id %>
    <%= f.collection_select(:role_id, @role, :id, :role,{:selected => @selected_role},class:"form-control") %>
  </div>

  <div class="actions">
    <%= link_to 'Cancel',component_actions_path,class:"btn btn-danger"%> 
   
    <%= f.submit "Save" ,class:"btn btn-primary" %>
  </div>
<% end %>
