<h3>Component Actions</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_component_action_path ,class:"btn btn-success"%>
<hr></hr>

<table id="component_action_list">
  <thead>
    <tr>
      <th>System component</th>
      <th>System action</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @component_actions.each do |component_action| %>
      <tr>
        <td><%= component_action.system_component.name %></td>
        <td><%= component_action.system_action.action %></td>
        <td><%= component_action.role.role %></td>
        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, component_action ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_component_action_path(component_action),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, component_action, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
