<h3>Component Actions Details</h3>
<hr></hr>

<div class="form-group">
  <strong>System component:</strong>
  <%= @component_action.system_component.name %>
</div>

<div class="form-group">
  <strong>System action:</strong>
  <%= @component_action.system_action.action %>
</div>

<div class="form-group">
  <strong>Role:</strong>
  <%= @component_action.role.role %>
</div>

<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, component_actions_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_component_action_path(@component_action) ,class:"btn btn-info"%>

</div>
