<%= form_for(gallery) do |f| %>
  <% if gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title,class:"form-control" %>
  </div>
   <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description,class:"form-control" %>
  </div>
  </br>
<% if gallery.new_record?%>
  <%if gallery.images%>
    <div class="field">
    <%= f.label :images %>
    <% gallery.images.each do |image|%>
        <a class="example-image-link" href="<%= image.url %>" data-lightbox="example-set" data-title="<%= image.identifier %>"><img class="example-image" src="<%= image.thumb.url %>" alt=""/></a>
    <% end %>
    </div>
  <%end%>
  <br><br>
<div class="field">
     <%= f.label "Change Images" %>
    <%= f.file_field :images ,multiple: true ,class:"form-control" ,id: "file-input"%>
    <br>
    <div id="preview"></div>
</div>
<%end%>
  <div class="actions">
    <%= link_to 'Cancel',galleries_path,class:"btn btn-danger"%> 
   
    <%= f.submit "Save" ,class:"btn btn-primary" %>
  </div>
<% end %>
