<h3>Galleries Details</h3>

<hr class="divider-line"></hr>

<div class="form-group">
  <strong>Title:</strong>
  <%= @gallery.title %>
  </br></br>
  <strong>Description:</strong>
  <%= @gallery.description %>
 </br> </br>
 <hr class="divider-line"></hr>
 
 <h4>Gallery Images</h4>
 <% if @gallery.images%>
<div class="row">
  <%@gallery.images.each_with_index do |image,index|%> 
  <% if image.thumb %>
    <div class="col-sm-2 col-md-2" style="background-color:white;margin:5px;border:1px solid black;">
      <div class="box-body" >
        <div class="media">
          <div class="media-left">
            <a class="example-image-link" href="<%= image.url %>" data-lightbox="example-set" data-title="<%= image.identifier %>"><img class="example-image" src="<%= image.thumb.url %>" alt=""/></a>
          </div> 
          <div class="media-body">
            <div class="clearfix">
              <p class="pull-right">
              <%= link_to  "Delete", gallery_image_path(@gallery, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" },class: "btn btn-block btn-danger btn-flat" %>    
              </p>
            </div>
          </div> 
        </div>   
      </div>
    </div>
    <% end %>
 <% end %>
</div>
<% end %>
<hr class="divider-line"></hr>
<div>
  <h4>Add Images</h4>
<%= form_for(@gallery,url: gallery_images_path(@gallery),method: :post) do |f|%>

<% flash.each do |key, value| %>
  <% if flash[:error] %>
    <div class="callout callout-danger">
        <p> <%= value %></p>
    </div>
  <% end %>
<% end %>

  <div class="field"> 
   <%= f.file_field :images,multiple: true %>
  </div>
  <div class="actions">
    <%= f.submit "Save" ,class:"btn btn-primary" %>
  </div>
<% end %>
  
</div> 

<br><br>

<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, galleries_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_gallery_path(@gallery) ,class:"btn btn-info"%>

</div>
