<%= form_for(city) do |f| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>

 <div class="form-group">
    <%= f.label  'Country'%>
   <%= f.collection_select(:country_id, @countries, :id, :nicename,{:selected => @selected_country},class:"form-control") %>
  </div>


  <div class="field">

    <%= f.label :name %>
    <%= f.text_field :name,class:"form-control" %>

  </div>


  <div class="field">

    <%= f.label :description %>
    <%= f.text_field :description,class:"form-control" %>

  </div>


  <div class="actions">
    <%= link_to 'Cancel',cities_path,class:"btn btn-danger"%> 
   
    <%= f.submit "Save" ,class:"btn btn-primary" %>
  </div>
<% end %>
