<h3>Cities</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_city_path ,class:"btn btn-success"%>
<hr></hr>
<table id="city_list">
  <thead>
    <tr>

      <th>Country</th>

      <th>Name</th>

      <th>Description</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>

        <td><%= city.country.nicename %></td>

        <td><%= city.name %></td>

        <td><%= city.description %></td>

        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, city ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_city_path(city),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, city, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
