<h3>Cities Details</h3>
<hr></hr>


<div class="form-group">
  <strong>Country:</strong>
  <%= @city.country.nicename %>
</div>



<div class="form-group">
  <strong>Name:</strong>
  <%= @city.name %>
</div>


<div class="form-group">
  <strong>Description:</strong>
  <%= @city.description %>
</div>


<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, cities_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_city_path(@city) ,class:"btn btn-info"%>

</div>
