<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>
<hr class="divider-line"></hr>
<h4>Main Information</h4>
<hr class="divider-line"></hr>
    <div class="form-group">
    <%= f.label  'Type'%>
   <%= f.collection_select(:product_type_id, @product_type, :id, :name,{:selected => @selected_product_type,:include_blank => 'Select a Type'},class:"form-control") %>
  </div>
   <div class="form-group">

    <%= f.label :name %>
    <%= f.text_field :name,class:"form-control" %>

  </div>
  <div class="form-group">

    <%= f.label :image %><br/>
    <img id="img_prev" width=300 height=300 src="#" alt="your image" class="img-thumbnail hidden"/>
    <%if params[:id]%> 
    <%= image_tag(@product.image_url.to_s,size: "300x300",class:"img-thumbnail") %>
    <% end%>
    <br/>
    <%= f.file_field :image ,:class=>"form-control"%>

  </div>

   <div class="form-group">

    <%= f.label :description %>
    <%= f.text_area :description,class:"form-control" %>

  </div>


   <div class="form-group">

    <%= f.label :price %>
    <%= f.number_field(:price, in: 1.0..1000000.0, step: 0.01, precision:2,class:"form-control") %>

  </div>
   

    <div class="form-group">
    <%= f.label  'Main Country'%>
   <%= f.collection_select(:id_country, @countries, :id, :nicename,{:selected => @selected_country,:include_blank => 'Select a Country'},class:"form-control country-select") %>
  </div>
   
   <div class="form-group">

    <%= f.label 'Is popular' %>
    <%= f.check_box :is_popular, {}, "yes", "no"%>

  </div>

 <hr class="divider-line"></hr>
<h4>Travel Information</h4>
<hr class="divider-line"></hr>
 
  <div class="form-group">

    <%= f.label 'Travel Type' %>
   <%= f.select(:travel_type,  ['Family','Business','Couples','Alone','Explorer'],{:selected => @selected_travel_type,:include_blank => 'Select a Travel Type'},:class=>"form-control") %>

  </div>

  <div class="form-group">
    <%= f.label  'Departure Date'%>
   <%= f.date_select :departure_date, :start_year =>Date.current.year , :end_year => Date.current.year+5 ,class:"form-control"%>
  </div>
    <div class="form-group">
    <%= f.label  'Arrival Date'%>
   <%= f.date_select :arrival_date, :start_year =>Date.current.year , :end_year => Date.current.year+5 ,class:"form-control"%>
  </div>

 
 <div class="form-group">
    <%= f.label  'Departure Country'%>
   <%= f.collection_select(:departure_country, @countries, :id, :nicename,{:selected => @selected_departure_country,:include_blank => 'Select a Country'},class:"form-control") %>
  </div>

   <div class="form-group">
    <%= f.label  'Departure City'%>
   <%= f.collection_select(:departure_city, @cities, :id, :name,{:selected => @selected_departure_city,:include_blank => 'Select a City'},class:"form-control") %>
  </div>

  <div class="form-group">
    <%= f.label  'Arrival Country'%>
   <%= f.collection_select(:arrival_country, @countries, :id, :nicename,{:selected => @selected_arrival_country,:include_blank => 'Select a Country'},class:"form-control") %>
  </div>

   <div class="form-group">
    <%= f.label  'Arrival City'%>
   <%= f.collection_select(:arrival_city, @cities, :id, :name,{:selected => @selected_arrival_city,:include_blank => 'Select a City'},class:"form-control") %>
  </div>

  

  <div class="form-group">

   <%= f.label 'Fligh Class' %>
   <%= f.select(:flight_class,  ['Economic','First Class','Business'],{:selected => @selected_flight_class,:include_blank => 'Select a Flight class'},:class=>"form-control") %>

  </div>

    
 <hr class="divider-line"></hr>
<h4>Hotel Information</h4>
<hr class="divider-line"></hr>
<div class="form-group">
    <%= f.label  'Hotel Country'%>
   <%= f.collection_select(:hotel_country, @countries, :id, :nicename,{:selected => @selected_hotel_country,:include_blank => 'Select a Country'},class:"form-control") %>
  </div>

   <div class="form-group">
    <%= f.label  'Hotel City'%>
   <%= f.collection_select(:hotel_city, @cities, :id, :name,{:selected => @selected_hotel_city,:include_blank => 'Select a City'},class:"form-control") %>
  </div>
  

    


  <div class="actions">
    <%= link_to 'Cancel',products_path,class:"btn btn-danger"%> 
   
    <%= f.submit "Save" ,class:"btn btn-primary" %>
  </div>
<% end %>
