<h3>Products</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_product_path ,class:"btn btn-success"%>
<hr></hr>
<table id="product_list">
  <thead>
    <tr>

      <th>Name</th>
      <th>Type</th>
      <th>Price</th>
      <th>Main Country</th>
      <th>Departure Date</th>
      <th>Arrival Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>

        <td><%= product.name %></td>
        <td><%= product.product_type.name %></td>
        <td><%= number_to_currency(product.price.to_d, :unit => "$") %></td>
        <td><%=  @obj_product.get_country_name(product.id_country) %></td>
        <td><%= product.departure_date %></td>
        <td><%= product.arrival_date %></td>
        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, product ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_product_path(product),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
