<h3>Products Details</h3>
<hr></hr>


<div class="form-group">
  <strong>Name:</strong>
  <%= @product.name %>
</div>


<div class="form-group">
  <strong>Description:</strong>
  <%= @product.description %>
</div>

<div class="form-group">
  <strong>Price:</strong>
  <%= @product.price %>
</div>

<div class="form-group">
  <strong>Type:</strong>
  <%= @product.product_type.name %>
</div>

<div class="form-group">
  <strong>Main Country:</strong>
  <%= @main_country%>
</div>
<div class="form-group">
  <strong>Departure Date</strong>
  <%= @product.departure_date%>
</div>
<div class="form-group">
  <strong>Arrival Date</strong>
  <%= @product.departure_date%>
</div>

<div class="form-group">
  <strong>Departure Country</strong>
  <%=  @departure_country%>
</div>

<div class="form-group">
  <strong>Departure City</strong>
  <%=@departure_city%>
</div>

<div class="form-group">
  <strong>Arrival Country</strong>
 <%=  @arrival_country%>
</div>

<div class="form-group">
  <strong>Arrival City</strong>
  <%=  @arrival_city %>
</div>

<div class="form-group">
  <strong>Image:</strong><br>
  <%if @product.image_url%>
 <%= image_tag(@product.image_url.to_s,size: "418x259") %>
 <%end%>
</div>
<div class="form-group">
  <strong>Flight Class</strong>
  <%= @product.flight_class%>
</div>
<div class="form-group">
  <strong>Travel Type</strong>
  <%= @product.travel_type%>
</div>

<div class="form-group">
  <strong>Hotel Country</strong>
  <%= @hotel_country%>
</div>
<div class="form-group">
  <strong>Hotel City</strong>
  <%=  @hotel_city%>
</div>
<div class="form-group">
  <strong>Is popular</strong>
  <%= @product.is_popular%>
</div>




<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, products_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_product_path(@product) ,class:"btn btn-info"%>

</div>
