<%= form_for(reservation_package) do |f| %>
  <% if reservation_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation_package.errors.count, "error") %> prohibited this reservation_package from being saved:</h2>

      <ul>
      <% reservation_package.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if flash[:warning]%>
  <div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <b><%= flash[:warning] %></b>
  </div>
 <% end %>

  <div class="field">

    <%= f.label :reservation_id %>
     <%= f.collection_select(:reservation_id, @reservations, :id, :name,{:selected => @selected_reservation},class:"form-control") %>

  </div>
  <div class="field">

    <%= f.label :package_id %>
    <%= f.collection_select(:package_id, @packages, :id, :name,{:selected => @selected_package},class:"form-control") %>
  

  </div>




  <div class="actions">
    <%= link_to 'Cancel',reservation_packages_path,class:"btn btn-danger"%> 
   
    <%= f.submit "Save" ,class:"btn btn-primary" %>
  </div>
<% end %>
