<h3>Reservation Packages</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_reservation_package_path ,class:"btn btn-success"%>
<hr></hr>
<table id="reservation_package_list">
  <thead>
    <tr>

      <th>Package</th>

      <th>Reservation</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservation_packages.each do |reservation_package| %>
      <tr>

        <td><%= reservation_package.package.name %></td>

        <td><%= reservation_package.reservation.name %></td>


        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, reservation_package ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_reservation_package_path(reservation_package),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, reservation_package, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
