<h3>Reservation Packages Details</h3>
<hr></hr>


<div class="form-group">
  <strong>Package:</strong>
  <%= @reservation_package.package.name %>
</div>


<div class="form-group">
  <strong>Reservation:</strong>
  <%= @reservation_package.reservation.name %>
</div>



<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, reservation_packages_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_reservation_package_path(@reservation_package) ,class:"btn btn-info"%>

</div>
