<!-- Main Header -->
<header class="main-header">
  <!-- Logo -->
  <a href="<%= root_path %>" class="logo"> 
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><span class="fa fa-home"></span></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>APP</b>Turismo</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
  
    <!-- Sidebar toggle button-->
    <a href="#" class="fas fa-bars" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <img src="/assets/useravatar.png" class="user-image" alt="User Image"/>
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">
  <div><%= current_admin.name %>  </div>
  
</span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              <img src="/assets/useravatar.png" class="img-circle" alt="User Image" />
              <p>
               <%= current_admin.name %>
                <small>Member since Nov. 2016</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
            
             
              <div class="pull-right">
              <%= link_to('Sign out', destroy_admin_session_path, :method => :get,class:"btn btn-default btn-flat") %> 
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              
               
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
