<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) 
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/useravatar.png" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p>User Name</p>
      
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>-->

    <!-- search form (Optional)
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
       <% if policy(:dashboard).show_dashboard %>
      <li  class="<%= "active" if params[:controller]=="dashboard"%>"><%= link_to '<i class="fa fa-tachometer"></i><span> Dashboard</span>'.html_safe,'/dashboard' %></li>
       <% end %>
      <% if policy(:admin).system_admin %>
      <li class="<%= "treeview active" if ["admins","roles","assignments","system_components","system_actions","component_actions","countries","cities","parameters"].include?params[:controller]%>">
        <a href="#"><i class='fa fa-cog'></i> <span>System Administration</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <% if policy(:admin).show? %>
          <li class="<%= "active" if (params[:controller]=="admins" )&& (["index","new","edit","show"].include?params[:action])%>"><%= link_to '<i class="fa fa-users"></i> Manage Users'.html_safe, '/users/admins' %></li>
          <% end %>
           <% if policy(:role).show? %>
          <li class="<%= "active" if params[:controller]=="roles"%>"><%= link_to '<i class="fa fa-user-circle"></i> Manage Roles'.html_safe,'/roles' %></li>
          <% end %>
            <% if policy(:assignment).show? %>
           <li class="<%= "active" if params[:controller]=="assignments"%>"><%= link_to '<i class="fa fa-user-plus"></i> Assign Roles'.html_safe,'/assignments' %></li>
           <% end %>
           <% if policy(:system_component).show? %>
           <li class="<%= "active" if params[:controller]=="system_components"%>"><%= link_to '<i class="fa fa-th-large"></i> System Components'.html_safe,'/system_components' %></li>
           <% end %>
           <% if policy(:system_action).show? %>
           <li class="<%= "active" if params[:controller]=="system_actions"%>"><%= link_to '<i class="fa fa-th"></i> System Actions'.html_safe,'/system_actions' %></li>
           <% end %>
           <% if policy(:component_action).show? %>
           <li class="<%= "active" if params[:controller]=="component_actions"%>"><%= link_to '<i class="fa fa-rocket"></i> Component Actions'.html_safe,'/component_actions' %></li>
           <% end %>
           <% if policy(:country).show? %>
            <li class="<%= "active" if params[:controller]=="countries"%>"><%= link_to '<i class="fa fa-globe"></i> Countries'.html_safe,'/countries' %></li>
           <% end %> 
          <% if policy(:city).show? %>
            <li class="<%= "active" if params[:controller]=="cities"%>"><%= link_to '<i class="fa fa-map-marker"></i> Cities'.html_safe,'/cities' %></li>
          <% end %>
          <% if policy(:parameter).show? %>   
            <li class="<%= "active" if params[:controller]=="parameters"%>"><%= link_to '<i class="fa fa-cogs"></i> Parameters'.html_safe,'/parameters' %></li>
            <% end %>
        </ul>
      </li>
      <% end %>
       <% if policy(:product).show? %>
      <li class="<%= "treeview active" if ["products","product_types","package_types","packages","package_products"].include?params[:controller]%>">
        <a href="#"><i class='fa fa-cog'></i> <span>Packages and Products</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <% if policy(:product_type).show? %>
           <li class="<%= "active" if (params[:controller]=="product_types" )&& (["index","new","edit","show"].include?params[:action])%>"><%= link_to '<i class="fa fa-window-restore"></i> Manage Product Types'.html_safe, '/product_types' %></li>
        <%end%>
         <% if policy(:product).show? %>
          <li class="<%= "active" if (params[:controller]=="products" )&& (["index","new","edit","show"].include?params[:action])%>"><%= link_to '<i class="fa fa-square"></i> Manage Products'.html_safe, '/products' %></li>
         <%end%> 
          <% if policy(:package_type).show? %>
          <li class="<%= "active" if (params[:controller]=="package_types" )&& (["index","new","edit","show"].include?params[:action])%>"><%= link_to '<i class="fa fa-square-o"></i> Manage Package Types'.html_safe, '/package_types' %></li>
          <%end%> 
           <% if policy(:package).show? %>    
              <li class="<%= "active" if (params[:controller]=="packages" )&& (["index","new","edit","show"].include?params[:action])%>"><%= link_to '<i class="fa fa-archive"></i> Manage Packages'.html_safe, '/packages' %></li>
            
              <li class="<%= "active" if (params[:controller]=="package_products" )&& (["index","new","edit","show"].include?params[:action])%>"><%= link_to '<i class="fa fa-square-o"></i> Package Products'.html_safe, '/package_products' %></li>
          <%end%>  
        </ul>
      </li>
      <%end%>  
      <li class="<%= "treeview active" if ["reservations","reservation_products","reservation_packages"].include?params[:controller]%>">
        <a href="#"><i class='fa fa-cog'></i> <span>Reservations</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          
          <li class="<%= "active" if (params[:controller]=="reservations" )&& (["index","new","edit","show"].include?params[:action])%>"><%= link_to '<i class="fa fa-calendar-check-o"></i> Reservations'.html_safe, '/reservations' %></li>
          <% if policy(:reservation).manage_reservation %> 
          <li class="<%= "active" if (params[:controller]=="reservation_products" )&& (["index","new","edit","show"].include?params[:action])%>"><%= link_to '<i class="fa fa-calendar-check-o"></i> Reservation Products'.html_safe, '/reservation_products' %></li>
           <li class="<%= "active" if (params[:controller]=="reservation_packages" )&& (["index","new","edit","show"].include?params[:action])%>"><%= link_to '<i class="fa fa-calendar-check-o"></i> Reservation Packages'.html_safe, '/reservation_packages' %></li>
          <%end%>  

        </ul>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
