<div class="login-box">
  <div class="login-logo">
    APP TURISMO
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"></p>
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>

<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.text_field :email, class: 'form-control', autofocus: true %>
        <i class="fa fa-envelope form-control-feedback"></i>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
        <i class="fa fa-lock form-control-feedback"></i>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="icheckbox">
            <label>
              <a href="/register"> Registrarse</a>
            </label>
          </div>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit 'Log in', class: 'btn btn-primary btn-block btn-flat' %>

        </div><!-- /.col -->
      </div>

    <% end %>
  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

