<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Agencia de Viajes </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
<%= stylesheet_link_tag 'animate'%>
<%= stylesheet_link_tag 'icomoon'%>
<%= stylesheet_link_tag 'bootstrap.min'%>
<%= stylesheet_link_tag 'superfish'%>
<%= stylesheet_link_tag 'magnific-popup'%>
<%= stylesheet_link_tag 'bootstrap-datepicker.min'%>
<%= stylesheet_link_tag 'cs-select'%>
<%= stylesheet_link_tag 'cs-skin-border'%>
<%= stylesheet_link_tag 'style'%>

	<!-- Modernizr JS -->
	<%= javascript_include_tag 'modernizr-2.6.2.min' %>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="<%= root_path %>"><i class="icon-airplane"></i>Agencia de Viajes etc </a></h1>
				
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li>
								<a href="" class="fh5co-sub-ddown">Servicios</a>
								<ul class="fh5co-sub-menu">
									<li><a href="/all_tours">Tours</a></li>
									<li><a href="/all_packages">Paquetes</a></li>
									<li><a href="/all_flights">Vuelos</a></li>
							        <li><a href="/all_hotels">Hoteles</a></li>
									<li><a href="/all_shuttles">Traslados</a></li>
								</ul>
							</li>
							<% if !current_admin.nil?%>
							<li>
								<a href="" class="fh5co-sub-ddown"><i class="icon-user"></i> <%= current_admin.name %></a>
								<ul class="fh5co-sub-menu">
									<li><a href="/reservations">Mis reservaciones</a></li>
									<li> <%= link_to('Salir <i class="icon-exit"></i> '.html_safe, destroy_admin_session_path, :method => :delete) %></li>
								</ul>
							</li>
							<% else %>
							    <li><a href="/login"><i class="icon-lock"></i> Iniciar Sesion</a></li>
							<%end%>
						</ul>
					</nav>
				  
				</div>

			</div>
		</header>

		<!-- end:header-top -->
	
		<div class="fh5co-hero">
			<div class="container" style="padding-top:40px;">
						<%= yield%>
				</div>
	
			
            
		</div>
		
		<div id="fh5co-tours" class="fh5co-section-gray">
			<div class="container">
			<div class="row" id="search_result">
			</div>
			<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3><%= @title%></h3>
						<p>Visita los lugares mas exoticos a los mejores precios.</p>
					</div>
				</div>
				<div class="row">
				  	<% @popular_tours.each do |tour| %>
					  <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
						<div href="#"><%= image_tag(tour.image_url, :alt => "rss feed",:class=>"img-responsive") %>
							<div class="desc">
								<span></span>
								<h3><%= tour.name %></h3>
								<span><b><%= tour.description %></b></span>
								<span class="price">$<%= tour.price %> por persona</span>
								<a class="btn btn-primary btn-outline" href="#">Reserve ahora<i class="icon-arrow-right22"></i></a>
							</div>
						</div>
					</div>
					 <% end %>
					
					</div>
					 
					<div class="col-md-12 text-center animate-box">
						<p><a class="btn btn-primary btn-outline btn-lg" href="#">Vea todas las ofertas <i class="icon-arrow-right22"></i></a></p>
					</div>
				</div>
			</div>
			
		</div>

		<div id="fh5co-features">
			<div class="container">
				<div class="row">
					<div class="col-md-4 animate-box">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-hotairballoon"></i>
							</span>
							<div class="feature-copy">
								<h3>Viajes familiares</h3>
								<p>Adquiera los mejores paquetes familiares al precio mas razonable</p>
								<p><a href="#">Ver mas</a></p>
							</div>
						</div>

					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
							<div class="feature-copy">
								<h3>Planes de Viaje</h3>
								<p>Permitanos mostrarle nuestros productos que se ajusten a sus necesidades</p>
								<p><a href="#">Ver mas</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-wallet"></i>
							</span>
							<div class="feature-copy">
								<h3>Luna de Miel</h3>
								<p>Dsifrute con su pareja de unos dias inolvidables</p>
								<p><a href="#">Ver mas</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 animate-box">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-wine"></i>
							</span>
							<div class="feature-copy">
								<h3>Viajes de negocios</h3>
								<p>Sea mas productivo en sus viajes de negocios </p>
								<p><a href="#">Ver mas</a></p>
							</div>
						</div>

					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
							<div class="feature-copy">
								<h3>Viajero Solitario</h3>
								<p>Hay muchas ventajas de viajar solo</p>
								<p><a href="#">Ver mas</a></p>
							</div>
						</div>

					</div>
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-chat"></i>
							</span>
							<div class="feature-copy">
								<h3>Exploradores</h3>
								<p>Las mejores aventuras a lugares exoticos</p>
								<p><a href="#">Ver mas</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<div id="fh5co-destination">
			<div class="tour-fluid">
				<div class="row">
					<div class="col-md-12">
						<ul id="fh5co-destination-list" class="animate-box">
							<li class="one-forth text-center" style="background-image: url('/assets/place-1.jpg'); ">
								<a href="#">
									<div class="case-studies-summary">
										<h2>Los Angeles</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url('/assets/place-2.jpg'); ">
								<a href="#">
									<div class="case-studies-summary">
										<h2>Hong Kong</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url('/assets/place-3.jpg'); ">
								<a href="#">
									<div class="case-studies-summary">
										<h2>Italia</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url('/assets/place-4.jpg'); ">
								<a href="#">
									<div class="case-studies-summary">
										<h2>Filipinas</h2>
									</div>
								</a>
							</li>

							<li class="one-forth text-center" style="background-image: url('/assets/place-5.jpg'); ">
								<a href="#">
									<div class="case-studies-summary">
										<h2>Japon</h2>
									</div>
								</a>
							</li>
							<li class="one-half text-center">
								<div class="title-bg">
									<div class="case-studies-summary">
										<h2>Destinos mas populares</h2>
										<span><a href="#">Ver todos los destinos</a></span>
									</div>
								</div>
							</li>
							<li class="one-forth text-center" style="background-image: url('/assets/place-6.jpg'); ">
								<a href="#">
									<div class="case-studies-summary">
										<h2>Paris</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url('/assets/place-7.jpg'); ">
								<a href="#">
									<div class="case-studies-summary">
										<h2>Singapur</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url('/assets/place-8.jpg'); ">
								<a href="#">
									<div class="case-studies-summary">
										<h2>Madagascar</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url('/assets/place-9.jpg'); ">
								<a href="#">
									<div class="case-studies-summary">
										<h2>Egipto</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url('/assets/place-10.jpg'); ">
								<a href="#">
									<div class="case-studies-summary">
										<h2>Madrid</h2>
									</div>
								</a>
							</li>
						</ul>		
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-blog-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Articulos Recientes</h3>
						<p>Descubre los articulos y blogs que le permitiran enriquecer su experiencia de viaje</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row row-bottom-padded-md">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="fh5co-blog animate-box">
							<a href="#"><%= image_tag("article1.jpg", :alt => "rss feed",:class=>"img-responsive") %></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><a href="#">Como ahorrar 30%  en gastos para viajar por todo el mundo</a></h3>
									<span class="posted_by">Sep. 15th/2016</span>
									<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
									<p>El arte de viajar requiere de bastante experiencia que se adquiere con el intercambio de informacion entre viajeros</p>
									<p><a href="#">Leer mas...</a></p>
								</div>
							</div> 
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="fh5co-blog animate-box">
							<a href="#"><%= image_tag("place-2.jpg", :alt => "rss feed",:class=>"img-responsive") %></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><a href="#">Como planear unas vacaciones cortas</a></h3>
									<span class="posted_by">Jan. 13th</span>
									<span class="comment"><a href="">12<i class="icon-bubble2"></i></a></span>
									<p>Cuando el tiempo es limitado se dificulta aprovechar el tiempo de manera mas productiva</p>
									<p><a href="#">Leer mas...</a></p>
								</div>
							</div> 
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="fh5co-blog animate-box">
							<a href="#"><%= image_tag("place-5.jpg", :alt => "rss feed",:class=>"img-responsive") %></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><a href="#">Visitar Japon</a></h3>
									<span class="posted_by">Sep. 15th</span>
									<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
									<p>Este articulo le permitira saber lo suficiente para tener una mejor experiencia de la tierra del sol naciente.</p>
									<p><a href="#">Leer mas...</a></p>
								</div>
							</div> 
						</div>
					</div>
					<div class="clearfix visible-md-block"></div>
				</div>

				<div class="col-md-12 text-center animate-box">
					<p><a class="btn btn-primary btn-outline btn-lg" href="#">Ver todos los articulos<i class="icon-arrow-right22"></i></a></p>
				</div>

			</div>
		</div>
		<!-- fh5co-blog-section -->
		<div id="fh5co-testimonial">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Clientes Felices</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
							<p>Sin lugar a duda la mejor experiencia online de viajes en Panama</p>
						</blockquote>
						<p class="author">Andres Franco <span class="subtext">Free Lance Developer</span></p>
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
							<p>Pude visitar mi familia en Brasil con los mejores precios del mercado</p>
						</blockquote>
						<p class="author">Jovan Edwards <span class="subtext">Consultor</span></p>
					</div>
					
					
				</div>
				
			</div>
		</div>
	</div>
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row row-bottom-padded-md">
						<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
							<h3>Conozca AppTurimo</h3>
							<p>Permitanos brindarle la mejor experienca de viajes con nuestra aplicacion</p>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
							<h3>Vuelos mas solicitados</h3>
							<ul>
								<li><a href="#">Madrid</a></li>
								<li><a href="#">Medellin</a></li>
								<li><a href="#">New York</a></li>
								<li><a href="#">Bahamas</a></li>
								<li><a href="#">Roma</a></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
							<h3>Hoteles recomendados</h3>
							<ul>
								<li><a href="#">Boracay Hotel</a></li>
								<li><a href="#">Dubai Hotel</a></li>
								<li><a href="#">Singapore Hotel</a></li>
								<li><a href="#">Manila Hotel</a></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
							<h3>Intereses</h3>
							<ul>
								<li><a href="#">Playas</a></li>
								<li><a href="#">Viajes Familiares</a></li>
								<li><a href="#">Viajes segun presupuesto</a></li>
								<li><a href="#">Comidas y bebidas</a></li>
								<li><a href="#">Luna de miel </a></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
							<h3>Mejores lugares</h3>
							<ul>
								<li><a href="#">Boracay Beach</a></li>
								<li><a href="#">Dubai</a></li>
								<li><a href="#">Singapur</a></li>
								<li><a href="#">Hongkong</a></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
							<h3>Promociones</h3>
							<ul>
								<li><a href="#">Descuentos en restaurantes/a></li>
								<li><a href="#">Vuelos con tarifa especial</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
							</p>
							<p>Copyright 2016 APPTURISMO Todos los derechos reservados. </p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->
       
     <%= javascript_include_tag 'jquery.min' %>
	 <%= javascript_include_tag 'jquery.easing.1.3' %>
	 <%= javascript_include_tag 'bootstrap.min' %>
	 <%= javascript_include_tag 'jquery.waypoints.min' %>
	 <%= javascript_include_tag 'sticky' %>
	 <%= javascript_include_tag 'jquery.stellar.min' %>
	 <%= javascript_include_tag 'hoverIntent' %>
	 <%= javascript_include_tag 'superfish' %>
	 <%= javascript_include_tag 'jquery.magnific-popup.min' %>
	 <%= javascript_include_tag 'magnific-popup-options' %>
	 <%= javascript_include_tag 'bootstrap-datepicker.min' %>
	 <%= javascript_include_tag 'classie' %>
	 <%= javascript_include_tag 'selectFx' %>
	 <%= javascript_include_tag 'main' %>

	</body>
</html>