<!DOCTYPE html>
<html>
  <head>
    <title>Railsapp</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="login-page">
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <div>   
    <%= yield %>
    </div>
  </body>
</html>