<h3>Parameters</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_parameter_path ,class:"btn btn-success"%>
<hr></hr>
<table id="parameter_list">
  <thead>
    <tr>

      <th>Name</th>

      <th>Value</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parameters.each do |parameter| %>
      <tr>

        <td><%= parameter.name %></td>

        <td><%= parameter.value %></td>

        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, parameter ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_parameter_path(parameter),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, parameter, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
