<h3>Parameters Details</h3>
<hr></hr>


<div class="form-group">
  <strong>Name:</strong>
  <%= @parameter.name %>
</div>


<div class="form-group">
  <strong>Value:</strong>
  <%= @parameter.value %>
</div>


<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, parameters_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_parameter_path(@parameter) ,class:"btn btn-info"%>

</div>
