<h3>Package Types</h3>
<%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>  New'.html_safe,new_package_type_path ,class:"btn btn-success"%>
<hr></hr>
<table id="package_type_list">
  <thead>
    <tr>

      <th>Name</th>

      <th>Description</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @package_types.each do |package_type| %>
      <tr>

        <td><%= package_type.name %></td>

        <td><%= package_type.description %></td>

        <td><%= link_to '<i class="fa fa-search"></i> Show'.html_safe, package_type ,class:"btn btn-default" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_package_type_path(package_type),class:"btn btn-info" %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, package_type, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
