<h3>Package Types Details</h3>
<hr></hr>


<div class="form-group">
  <strong>Name:</strong>
  <%= @package_type.name %>
</div>


<div class="form-group">
  <strong>Description:</strong>
  <%= @package_type.description %>
</div>


<div class="actions">
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, package_types_path ,class:"btn btn-info"%>
<%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_package_type_path(@package_type) ,class:"btn btn-info"%>

</div>
